/* #region ---VARIABLES--- */
:root {
  /* Colors */
  --blank: #ffffff;
  --primary: rgb(65, 166, 132);
  --primary-light: rgb(211, 238, 241);
  --primary-dark: rgb(63, 89, 76);
  --primary-dark-t: rgba(63, 89, 76, 0.3);
  --primary-dark-t2: rgba(63, 89, 76, 0.15);
  --secondary: rgb(186, 155, 121);
  --secondary-light: rgb(236, 222, 208);
  --secondary-dark: rgb(131, 99, 66);

  /* Measurements */
  --iheight: 20vmin;
  --slowtransition: 0.5s;
  --fasttransition: 0.2s;
  --iconheight: 8vmin;
}

/* #region ---FONTS--- */
@font-face {
  font-family: "Fira Code";
  src: url("/assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

/* Monsterrat Fonts */
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* #endregion */

/* #endregion */

/* #region ---RESET--- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 1;
}

li {
  list-style-type: none;
}

/* #endregion */

/* #region ---BASE STYLES--- */

html {
  scroll-behavior: smooth;
}

body {
  background: none;
  overflow-x: hidden;
  font-family: "Lora";
  user-select: none;
}

/* #endregion */

/* #region ---GRIDS CREATION--- */
.fullGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0;
  row-gap: 0;
  margin: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3vmax;
  margin: 4vh 4vh;
}

.grid1-1 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 2fr 1fr;
  row-gap: 4vmin;
  grid-template-areas:
    "a"
    "b";
}


/* #endregion */

/* #region ---GRID ASSIGNMENTS--- */
.navBack {
  grid-column: 1/2;
}

#main-navTitle {
  grid-column: 1/8;
}

#proj-navTitle {
  grid-column: 2/8;
}

.navMenu {
  grid-column: 8/9;
}

.contentGrid {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 6vw;
}

.contGrid1 {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* #region ---SECTION DESIGN--- */
body {
  background: none;
  overflow-x: hidden;
  font-family: "Lora";
  color: var(--primary-dark);
  font-size: 0.8em;
}

a {
  color: var(--primary-dark);
}

.sectionTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
}


/* navbar */
.navbar {
  background-color: var(--primary-dark-t);
  padding: 1vmin;
  z-index: 99;
}

#main-navTitle {
  transition: var(--slowtransition);
}

.icon {
  display: inline-block;
  width: 7vw;
  height: 7vw;
  background-size: cover;
  margin: 0 0.5vw;
}

.iconBack {
  background-image: url("/assets/icons/arrow_back.svg");
  transition: var(--fasttransition);
}

.iconBack:hover,
.iconBack:focus {
  background-image: url("/assets/icons/arrow_back_highlight.svg");
  transition: var(--fasttransition);
}

/* .iconMenu {
  background-image: url("/assets/icons/menu.svg");
  transition: var(--fasttransition);
}

.iconMenu:hover,
.iconMenu:focus {
  background-image: url("/assets/icons/menu_highlight.svg");
  transition: var(--fasttransition);
} */

#proj-navTitle {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  margin-left: 1vw;
}

/* #region ---INDEX--- */
/* #region Intro */
/* Intro Background */
#main-intro {
  background-image: url("/assets/images/main_bg.jpg");
  background-size: cover;
  background-clip: content-box;
  background-position: center;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

#mainText {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-dark-t);
  padding: 3vmin;
  min-width: 55vmin;
  min-height: 10vmin;
}

#name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 5vmin;
  color: var(--blank);
  display: block;
  text-align: center;
}

#subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 3vmin;
  color: var(--blank);
  display: block;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3vmin;
  color: var(--blank);
}

/* #endregion */

/* Projects */
.projectCard {
  padding: 4vmin;
  background: var(--blank);
  border-radius: 2vmin;
  box-shadow: 0.4vmin 0.4vmin 4vmin var(--primary-dark-t);
}

.projectCardTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2vmax;
  vertical-align: middle;
  text-align: center;
  margin: 0 2vw;
  display: flex;
  align-items: center;
}

.projectCardImg {
  display: flex;
  align-items: center;
}

.projectCardImg img {
  width: 100%;
}

.projectCardDesc {
  margin: 1em;
}

/* #endregion */
/* #endregion */

/* #region Project Page Content */
.projTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  padding: 10vw 5vw;
  background-color: var(--secondary-light);
}

.projContent {
  padding: 0 5vw;
  text-align: justify;
}

.subTitle1 {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
}

.subTitle2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
}

.subTitleBox1 {
  padding: 3vw 6vw;
}

.subTitleBox2 {
  padding: 0 6vw 3vw 6vw;
}

.item0 {
  background-color: var(--blank);
  box-shadow: 0 4vmin 4vmin -2vmin var(--primary-dark-t);
  margin-top: 6vw;
}

.item1 {
  background-color: var(--blank);
  box-shadow: 0 4vmin 4vmin -2vmin var(--primary-dark-t);
  margin-top: 3vw;
}

.item2 {
  background-color: var(--blank);
  box-shadow: 0 4vmin 4vmin -2vmin var(--primary-dark-t);
  /* margin-top: 3vw; */
}

.text1 {
  margin: 0 6vw 6vw 6vw;
}

.text2 {
  margin: 0 6vw 6vw 6vw;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.more1 {
  content: url("/assets/icons/expand_more.svg");
  float: right;
  transition: 0.2s;
}

.more1:hover {
  background-color: var(--primary-light);
  border-radius: 50%;
}

.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 0.2s;
}

.more2 {
  content: url("/assets/icons/unfold_more.svg");
  float: right;
}

input[type=checkbox] {
  display: none;
}

.ready:hover {
  background-color: var(--primary-light);
}

.emphasize {
  font-weight: bold;
}

.contImg {
  max-width: 100%;
}

#main-navbar {
  display: none;
}

/* #endregion */

/* #region */
/* Custom, iPhone Retina */
/* @media screen and (min-width : 320px) {} */

/* Extra Small Devices, Phones
@media screen and (min-width : 480px) {
} */

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
  body {
    font-size: 1em;
  }

  .icon {
    width: 3vh;
    height: 3vh;
  }

  #proj-navTitle {
    font-size: 3vh;
  }

  .navbar {
    padding: 0.5vmin;

  }

  .contentGrid {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: unset;
  }

  .projTitle {
    font-size: 1.8em;
    grid-column: 1/2;
  }

  .projContent {
    padding: 0 5vw;
    text-align: justify;
  }

  .text1 {
    margin: 0 5vw 5vw 5vw;
  }

  .contGrid1 {
    grid-row: unset;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .grid1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3vmax;
    row-gap: 3vmax;
    margin: 3vh 5vw;
    padding: 0 5vw;
  }

  .sectionTitle {
    font-size: 3vmin;
    grid-column: 1/4;
  }

  .projectCard {
    grid-column: unset;
    padding: 2vmin;
    border-radius: 1vmin;
  }

  .grid1-1 {
    gap: 2vmin;
  }

  .projectCardTitle {
    font-size: 1.5em;
  }

  .projectCardImg {
    text-align: center;
  }

  .projectCardImg img {
    display: block;
    margin: auto;
    max-width: 15vw;
  }

  .subTitleBox1 {
    padding: 5vh 5vh 2vh 5vh;
  }

  .subTitle1 {
    font-size: 1.25em;
  }

  .text1 {
    margin: 0 5vh 5vh 5vh;
  }

  .item0 {
    margin-top: 3vh;
  }
}

/* Medium Devices, Desktops */
/* @media screen and (min-width : 992px) {} */

/* Large Devices, Wide Screens */
@media screen and (min-width : 1200px) {}

/* #endregion */

/* --- C S S  E N D --- */